   
    <nav style="background: gray">
        <ul>
            <li>
                <a href="../home.handlebars">Home</a>
            </li>

             <li>
                <a href="">about</a>
            </li>
        </ul>
    </nav>
   