<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handlebars</title>
    <link rel="shortcut icon" href="./static/logo.png" type="image/x-icon">
</head>
<body>
   
{{> partials/navigation }}
    
<h1 class="text-center">Wbpack sass image handlebars static file </h1>
    <h3>subtitle</h3>
<img src="./static/logo.png" alt="logo">

</body>
</html>